
  
    <div class="container-column">
      <div class="block-column-int">
          <div class="img-int">
              <img src="./images/safety_first.png" alt="Safety First">
          </div>
          <div class="text-int">
              <h2 class="staatliches-20px">Safety First</h2>
              <p>Passcodes Never Shared</p>
          </div>
      </div>
      <div class="block-column-int">
          <div class="img-int">
              <img src="./images/community_driven.png" alt="Community Driven">
          </div>
          <div class="text-int">
              <h2 class="staatliches-20px">Community Driven</h2>
              <p>You Choose the Protectors</p>
          </div>
      </div>
      <div class="block-column-int">
          <div class="img-int">
              <img src="./images/pace_of_mind.png" alt="Peace of Mind">
          </div>
          <div class="text-int">
              <h2 class="staatliches-20px">Peace of Mind</h2>
              <p>Preserve your Digital Legacy</p>
          </div>
      </div>
  </div>