

<div class="staatliches-title-div"><h2>Curious Minds Inquire</h2></div>
<div class="container-4column">
    <div class="block-4column-int">
        <div class="text">
            <h2 class="monoespace-20px">Who will receive my keys?</h2>
            <p class="monoespace-16px">Your trusted circle of friends, handpicked by you to hold the keys to your digital afterlife.</p>
        </div>
    </div>
    
    <div class="block-4column-int">
        <div class="text">
            <h2 class="monoespace-20px">How will keys be given?</h2>
            <p class="monoespace-16px">Each friend receives a unique key, ensuring maximum security.</p>
        </div>
    </div>
    <div class="block-4column-int">
        <div class="text">
            <h2 class="monoespace-20px">What happens when I pass?</h2>
            <p class="monoespace-16px">Upon confirmation, the recovery process begins, and your passwords are safely transferred to the people you’ve designated.</p>
        </div>
    </div>
   
    <div class="block-4column-int">
        <div class="text">
            <h2 class="monoespace-20px">Are my passwords safe?</h2>
            <p class="monoespace-16px">Absolutely! Our cutting-edge encryption ensures your passwords remain secure while waiting to be unlocked by your friends.</p>
        </div>
    </div>
</div>


